{
    "presets":["react","env"],
    "plugins": [
        ["import", {
          "style": "css",  // `style: true` 会加载 less 文件
          "libraryName": "antd-mobile"
        }]
      ]
}


