.Menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 11;
    .menu-wrap{
        width: 6rem;
        height: 100%;
        background-color: #fff;
        .menu-top{
            padding: 40px 90px;
            color: #333;
            font-size: 35px;
            .menu-list{
                padding: 30px 0;
                border-bottom: 1PX solid #f6f6f6;
                .menu-item{
                    padding: 40px 20px;
                    line-height: 1;
                    .menu-icon{
                        width: 35px;
                        height: 35px;
                        margin-right: 10px;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
    
}